/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* latin */
@font-face {
font-family: 'Noto Serif';
font-style: italic;
font-weight: 700;
font-display: swap;
src: url(latin.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/**
 * Global
 */
html {
    --main-color: #4671e2;
    --highlight-color: #e75b13;
    --title-font-size: xx-large;
    --subtitle-font-size: x-small;
    --logo-size: 48px;
    --member-picture-size: 100px;
}
    
body {
    margin: 0 auto;
    max-width: 750px;
    background-color: black;
    color: #444444;
    font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
}
a:hover {
    color: var(--highlight-color)
}

hr {
    margin-top: 1em;
    border-top: 1px solid rgba(70, 113, 226, .3);
}

em, .emphase {
    color: var(--highlight-color);
}

.title {
    font-weight: bold;
}

.map {
    width: 100%;
    text-align: center;
    font-size: x-small;
}

.map iframe {
    border: 1px solid black;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 10px;
    min-height: calc(100vh - 3px);
}

/**
 * Header
 */
header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    color: var(--main-color);
    margin: 10px 0;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 10px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}

header h1 {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    font-size: 2em;
}

header #title {
    display: flex;
    flex-direction: column;
    font-size: var(--title-font-size);
}

header #subtitle {
    font-size: var(--subtitle-font-size);
}

header img {
    display: none;
    height: var(--logo-size);
    width: var(--logo-size);
    margin-left: auto;
}

/**
 * Menu
 */
#menu-toggle {
    font-size: var(--title-font-size);
    cursor: pointer;
}
#menu {
    flex-basis: 100%;
    max-height: 0;
    overflow: hidden;
    transition: margin .5s ease-in-out, max-height .5s ease-in-out, opacity .3s .1s ease-in-out;
    visibility: hidden;
    opacity: 0;
    order: 4;
}
#menu.open {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
}
#menu ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}
#menu a {
    display: inline-block;
    padding: 0.5em;
}
#menu a.selected {
    color: var(--highlight-color);
    text-decoration: underline;
}

/**
 * Main
 */
main {
    flex-grow: 1;
    text-align: justify;
    padding: 0 8px;
}

main a {
    text-decoration: underline;
}

main h1,
main h2,
main h3 {
    color: var(--highlight-color);
    margin: 30px 0 10px 0;
    font-weight: bold;
}
    
main h1,
main h2 {
    font-size: 1.2em;
    margin-top: 20px;
}

main p,
main ul {
    text-indent: 1.5em;
    line-height: 1.6em;
    font-size: 1em;
    margin-bottom: 10px;
}

main ul {
    list-style: disc;
    margin-left: 1.5em;
}

#accueil p {
    text-indent: initial;
}

#accueil img {
    height: 72px;
    margin-right: 1.5em;
    float: left;
}

#presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
}

#accueil #logo-presentation {
    height: 175px;
}

#contact {
    white-space: nowrap;
    font-weight: normal;
}

#contact h2 {
    margin-top: 0;
}

#actualites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#actualites .actualites {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-right: 2em;
}

#actualites .actualites:last-child {
    margin-right: 0;
}

.actualite {
    margin-bottom: 3em;
}

#team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member {
    margin: 0 15px 15px;
    text-align: center;
}

.member:last-child {
    margin-bottom: 50px;
}

.member:hover .picture{
    border-color: var(--highlight-color);
}

.member p {
    text-indent: unset;
    color: #a6a39e;
}

.member .function {
    color: #b0cac9;
    font-style: italic;
}

.member .picture {
    padding: 5px;
    width: var(--member-picture-size);
    height: var(--member-picture-size);
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.25);
    margin-left: auto;
    margin-right: auto;
}

.member img {
    width: var(--member-picture-size);
    border-radius: 50%;
}

/**
 * Page
 */
.page {
    display: none;
}
.page.selected {
    display: block;
}

/**
 * Footer
 */
footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid var(--main-color);
    font-size: x-small;
    margin-top: 2em;
}

/**
 * When the logo can fit to the screen
 */
 @media screen and (min-width: 340px) {
    header img {
        display: block;
    }

    header h1 {
        order: 2;
        margin-right: auto;
    }
    header img {
        order: 1;
        margin-left: 0;
    }

    #menu-toggle {
        order: 3;
    }
}

/**
 * When the menu can fit horizontaly to the screen
 */
@media screen and (min-width: 730px) {
    #content {
        margin: 10px 0;
        min-height: calc(100vh - 20px);
        border-radius: 10px;
    }

    header h1 {
        order: 2;
        margin-right: auto;
    }
    header img {
        margin-left: 0;
    }

    #menu-toggle {
        display: none;
    }
    #menu {
        max-height: 1000px;
        opacity: 1;
        visibility: visible;
        text-align: center;
    }

    #menu li {
        display: inline;
    }

    #presentation {
        flex-wrap: nowrap;
    }

    #contact {
        margin-left: 1.5em;
    }
}
